h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 1em;
  font-family: "veranda", serif;
  font-size: 50px;
  color: black;
}

body {
  background-color: #837E7E;
}
.btn-info {
  background-color: black;
  border-color: black;
}

.btn-info:hover {
  background-color: #0B2F3A;
  border-color: #0B2F3A;
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  background-color: black;

}


h1 small,
.h1 small {
  color: black;
}

.form-control {
  background-color: #B6B1B1;
  border-color: black;
}

.page-header {
  border-bottom: 0px;
}
